@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow: auto;
  }
  
  /* Hide scrollbar */
  *::-webkit-scrollbar {
    width: 0.5em;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1em;
  }